.footer {
  min-height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
  50deg,
    rgba(2, 44, 15, 0.89),
    rgba(5, 85, 26, 0.918)
  );
  color: whitesmoke;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px !important;
  border-top: 10px solid rgb(33, 107, 3);
  border-radius: 10px 10px 0px 0px;
  
}

.main__site__detail p {
  line-height: 30px;
  padding-left: 15px;
}

.main__site__detail img{
  margin-bottom: 0px;
}

.contact__us h2{
  margin-bottom: 15px;
}

.mobile__number,
.email,
.facebook {
  display: flex;
  padding: 4px;
}
.mobile__number p,
.email p,
.facebook p {
  padding-left: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  align-items: center;
  text-align: center;
}
