.home {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.page__leftside {
  width: 20%;
  margin-right: 10px;
  height: 100vh;
  position: fixed;
}

.page__rightside {
  display: flex !important;
  margin-left: 22%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0px;
}
.page__rightside__img {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.page__rightside__img img {
  height: 70vh;
  object-fit: cover;
}

.Product_categories__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px;
}

.page__rightside h3 {
  display: flex;
  width: 95%;
  padding: 10px;
  flex-direction: column;
  margin: 16px;
  padding: 10px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 2px 0px 6px 1px grey;
  border-radius: 5px;
  color: #4caf50;
}

.Product__category {
  display: flex;
  height: 50px;
  width: 550px;
  min-width: 300px;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #4caf50;
}
.Product__category p {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.Product__category img {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  height: 25px;
  width: 25px;
}

.Product__category:hover {
  background-color: #4caf50;
  transition: all 0.3s ease-in;
  color: whitesmoke;
  transform: scale(1.02);
}

.all__discount__info {
  margin-left: 22% !important;
  display: flex;
  justify-content: center;
}

.all_discount__info__items{
  display: flex;
  justify-content: center !important;
  align-items: center;
}

@media screen and (max-width:768px){
  .Product__category{
    width: 350px;
  }
  
}









